/*
RGB(46,79,119) dark blue
RGB(119,244,226) light blue green
RGB(46,119,80) dark green
RGB(119,79,46) brown 
RGB(79,126,114) dark light green



RGB(111,111,136) light purple
RGB(136,246,246) light blue
RGB(111,136,134) steel grey
RGB(136,111,111) brown
RGB(143,102,143) steel purple
*/
body{
  width:100vw;
  height:100vh;
  padding:0;
  margin:0;
  box-sizing:border-box;
  /*background-color:#222;
  background-image:url(https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/1003661_143642085836979_237755537_n.jpg?_nc_cat=103&_nc_ht=scontent-atl3-1.xx&oh=fd73d9e20e9ed3bcb89ef822eefb8929&oe=5CEAC2BE);
  background-position: center center;
  background-size:cover;*/
}
body *{
  box-sizing:border-box;
}
#video-landing {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.saying {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-variant: small-caps;
    position: absolute;
    top: calc(20vh - 40px);
    font-family: 'terminator_real_nfiregular';
}
.whatWeDo {
    width: 500px;
    height: 250px;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(20vh + 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gatsblazing{
    background: url(https://i.imgur.com/aWLOEdn.jpg);
}
.towerOfTribus{
  background: url(https://i.pinimg.com/originals/61/5c/2f/615c2f94982ea8990843db7ed5372637.jpg);
}
.ptmVsA{
  background: url(https://i.imgur.com/dktSJvE.png);
  background-size: 100% 100%;
  min-width: 490px;
}

.gatsblazing, 
.towerOfTribus,
.ptmVsA{
    height: 240px;
    width: 240px;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 5px 10px black;
    border-radius: 5px;
    position:relative;
    margin:5px;
}
.gatsblazing a,
.towerOfTribus a,
.ptmVsA a{
    position: absolute;
    width: 100%;
    height: 15%;
    background: black;
    bottom: 0;
    border-radius: 0 0 5px 5px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: lowercase;
}
.gatsblazing a{
    font-family: 'carnivalee_freakshowregular';
    font-size: 1.4em;
}
.towerOfTribus a{
    font-family: 'terminator_real_nfiregular';
    font-size:.8em;
}
.ptmVsA a{
    font-family: 'terminator_real_nfiregular';
    font-size:.8em;
}
