/*
RGB(46,79,119) dark blue
RGB(119,244,226) light blue green
RGB(46,119,80) dark green
RGB(119,79,46) brown 
RGB(79,126,114) dark light green



RGB(111,111,136) light purple
RGB(136,246,246) light blue
RGB(111,136,134) steel grey
RGB(136,111,111) brown
RGB(143,102,143) steel purple

*/
body{
  width:100vw;
  height:100vh;
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body *{
  box-sizing:border-box;
}
